

body {
   
    margin: 0;
    padding: 0;
    background: url(IMG/Campo.jpg);
    background-size: cover;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-80%, -50%);
    width: 500px;
    height: 580px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
   
}
.cereal {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;
}
.botones {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 10px;
}

fieldset {
    color: rgb(119, 234, 136);
    font-size: 14px;
    padding-top: 10px;
}


.logo input[type="float"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 14px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    border: none;
    outline: none;
    height: 30px;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    background: rgb(119, 234, 136);
    color: #fff;

}

button:hover {
    color: aqua;
}

.soja {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

legend {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}



td {
    color: rgb(119, 234, 136);
    font-size: 15px;
    text-align: center;
    padding: 10px;
   
}

th,
tr {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
   
}
.merma {
    color: rgb(119, 234, 136);
}

.RegistroCamiones {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(20%, -50%);
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);

    color: white;
}



/* .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55em;
} */

.container5 {
    display: flex;
    margin-top: 55em;
    gap: 10px;
    align-content:space-between;

 
}


@media screen and (max-width: 500px) {
    body {
        background-size: cover;

    }

    .logo {

        margin-left: 160px;
        width: 100%;
        top: 500px;
    }


    .RegistroCamiones {

        margin-top: 700px;
        margin-left: -290px;
        width: 100%;
    }

    th,
    td {
        font-size: 10px;

    }

    .container5 {
        display: block;
        margin-top: 85em;
        gap: 10px;
        align-content:space-between;
    
     
    }
}

@media screen and (max-width: 375px) {
    body {
        background-size: cover;
    }

    .logo {

        margin-left: 150px;
        width: 100%;
        top: 400px;
    }


    .RegistroCamiones {
        margin-top: 620px;
        margin-left: -262px;
        width: 100%;
    }

    th,
    td {
        font-size: 10px;

    }

    .container5 {
        display: block;
        margin-top: 85em;
        gap: 10px;
        align-content:space-between;
    
     
    }
}

@media screen and (min-width: 1080px) {
   /*  .row {
        padding-left: 350px;
        padding-top: 890px;
    }

    .row2 {
        padding-right: 350px;
        padding-top: 790px;
    } */

}

#borrarRegistro {
    cursor: pointer;
}